<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424124368229-leo34m88t6tba32sluefju1hha05jt5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424124368229-leo34m88t6tba32sluefju1hha05jt5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAwkn5-of3ip8_g6HsI63UipE1CpY73GA4</string>
	<key>GCM_SENDER_ID</key>
	<string>424124368229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>food-trckr</string>
	<key>PROJECT_ID</key>
	<string>foodtrckr-trail</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtrckr-trail.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424124368229:ios:be06258318de4bb0d38d8c</string>
</dict>
</plist>